@import 'reset';

section {
	width: 100%;
	height: 100vh;
	padding: 5vh 5vw;
	background-color: #efefef;
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;

	//common box style
	article {
		width: 20%;
		height: 25%;
	}

	article.w3 {
		width: calc(20% * 3);
	}
	article.w2 {
		width: calc(20% * 2);
	}
	article.txt {
		padding: 30px;
		background-color: #fff;
		display: flex;
		flex-wrap: wrap;
		align-content: flex-end;

		h1 {
			font: bold 18px/1 'arial';
			color: #777;
			margin-bottom: 5px;
		}
		p {
			font: 12px/1.3 'arial';
			color: #bbb;
		}
	}
}
